.main {
  position: relative;
  height: calc(100vh - 40px);
  @apply flex justify-center items-center;

  @media (max-width: 768px) {
    height: calc(100vh - 20px);
  }
}

.container{
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  img{
    height: 100%;
  }

  @media (max-width: 768px) {
    background-color: var(--red);
    height: 100%;
  }

}

.textBox{
  position: absolute;
  padding: 28px 40px;
  bottom: 0;
  left: 0;
  color: var(--white-milky);

  h1{
    font-family: 'Transforma Mix';
    font-size: 120px;
    line-height: 1;
  }

  p{
    margin-top: 40px;
    font-family: 'Mustica Pro';
    font-size: 52px;
    line-height: 48px;
  }
}

