@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts/fonts.scss';
@import './variables.scss';
@import './_reset';

:root {
  // color-scheme: light dark;
  background: var(--white-milky);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

main{
  @apply max-w-screen-2xl mx-auto bg-white;
  
  .wrapper > *:not(:last-child){
    margin-bottom: 20px;
  }
}


@media (hover: hover) {

  .mainBtnHover:hover{
    background-color: var(--white-milky);
    color: var(--red);
  }

  .mainBtnHover:active{
    background-color: var(--white-milky);
    color: var(--red);
  }

}

@media (hover: none) {

  .mainBtnHover:active{
    background-color: var(--white-milky);
    color: var(--red);
  }

  .specialHover:active {
    background-color: var(--color-gold);
    transform: scale3d(0.9, 0.9, 1);
    transition-duration: 150ms;
  }

}

