:root {
  --white-milky: #F7F5F5;
  --light-grey: #C8C8C8;
  --grey: #606060;
  --red: #E3000B;
  --red80: rgba(225, 4, 15, 0.8);
  --black: #171313;
  --all-black: #000;
  --all-white: #fff;
  --white10: rgba(255, 255, 255, 0.1);
  --black20: rgba(0, 0, 0, 0.2);
}